// Mixin
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 34.5em) {
      @content;
    } // 552px
  }

  @if $breakpoint == tab {
    @media (max-width: 47.5em) {
      @content;
      //760px
    }
  }

  @if $breakpoint == tablet {
    @media (max-width: 56.25em) {
      @content;
    } // 900px
  }

  @if $breakpoint == desktop {
    @media (max-width: 80em) {
      @content;
    } // 1280px
  }

  @if $breakpoint == Bigdesktop {
    @media (max-width: 112.5em) {
      @content;
    } //1800px
  }
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #0c0f26;
  display: flex;
  align-items: center;

  &__img {
    height: 20px;
    width: 154px;

    @include responsive(phone) {
      width: 9rem;
    }

    @include responsive(tablet) {
      width: 10rem;
    }

    @include responsive(desktop) {
      width: 13rem;
    }
  }

  &__wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 auto;
    @include responsive(phone) {
      margin: 0 auto;
    }
  }

  &__item {
    list-style: none;
  }
  &__item a {
    padding: 15px;
    font-size: 1.4rem;
    font-weight: 501;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    @include responsive(phone) {
      display: none;
    }
    @include responsive(tablet) {
      padding: 6px;
    }

    @include responsive(desktop) {
      padding: 9px;
    }
    &:hover {
      color: #7678fb;
    }
  }
}

.flex-container {
  width: 100%;
  display: flex;
}

.content-flex {
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
  background-color: #171934;
  width: inherit;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  @include responsive(phone) {
    padding: 3.5rem 0 3.5rem 0;
  }

  @include responsive(tablet) {
    padding: 3.5rem 0 3.5rem 0;
  }
}

.flex-grid {
  width: 62%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;

  @include responsive(Bigdesktop) {
    width: 70%;
  }

  @include responsive(desktop) {
    width: 90%;
  }

  @include responsive(tablet) {
    width: 100%;
  }

  @include responsive(tab) {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  @include responsive(phone) {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .flex-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .not-found {
    padding: 1rem;
    color: #edf2f5;
  }
}

.react-reveal.card {
  display: grid;
  justify-content: center;
}
