.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #0c0f26;
  display: flex;
  align-items: center;

  &__wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 58px;
  }
  &__item a {
    padding: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #7678fb;
    }
  }
}

.flex-container {
  width: 100%;
  display: flex;
}

.content-flex {
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
  background-color: #171934;
  width: inherit;
  justify-content: center;
  align-items: center;
}

.flex-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;

  &__four {
    display: grid;
    justify-content: center;
  }

  .flex-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .not-found {
    padding: 1rem;
    color: #edf2f5;
  }
}

.react-reveal.card {
  display: grid;
  justify-content: center;
}
