// Mixin
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 33.25em) {
      @content;
    } // 532px
  }

  @if $breakpoint == tab {
    @media (max-width: 47.5em) {
      @content;
    } //760px
  }

  @if $breakpoint == tablet {
    @media (max-width: 61.875em) {
      @content;
    } // 990px
  }

  @if $breakpoint == desktop {
    @media (max-width: 80em) {
      @content;
    } // 1280px
  }

  @if $breakpoint == Bigdesktop {
    @media (max-width: 112.5em) {
      @content;
    } //1800px
  }
}

.card {
  margin-bottom: 2rem;

  &__inner-wrapper {
    width: 100%;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #737783;
  }
  &__img {
    height: 30.2rem;
    border-radius: 0.8rem;

    @include responsive(desktop) {
      height: 28.2rem;
    }

    @include responsive(tablet) {
      height: 30.2rem;
    }

    @include responsive(tab) {
      height: 28.2rem;
    }

    @include responsive(phone) {
      height: 28.2rem;
    }
  }

  &__title {
    font-weight: 700;
    color: #edf2f5;
    margin-top: 0.5rem;
    width: 200px;

    @include responsive(desktop) {
      width: 169px;
    }

    @include responsive(tablet) {
      width: 158px;
    }

    @include responsive(tab) {
      width: 135px;
    }

    @include responsive(phone) {
      width: 135px;
    }
  }

  &__rating {
    position: absolute;
    right: 1rem;
    top: -0.5rem;
    color: #242126;
    background-color: #faca31;
    font-size: 0.7rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
  }

  &__icon {
    margin-right: 0.3rem;
  }
}
