// Mixin
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 34.5em) {
      @content;
    } // 552px
  }

  @if $breakpoint == tablet {
    @media (max-width: 61.875em) {
      @content;
    } // 990px
  }

  @if $breakpoint == desktop {
    @media (max-width: 80em) {
      @content;
    } // 1200px
  }
}

.search {
  display: flex;
  flex: 0 0 35%;
  align-items: center;
  justify-content: center;

  @include responsive(phone) {
    margin: 0 15px 0 15px;
  }

  @include responsive(tablet) {
    margin: 0 auto 0 0;
  }

  @include responsive(desktop) {
    margin: 0 auto 0 0;
  }

  &__input {
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit;
    background-color: #1c223a;
    border: none;
    transition: all 0.2s ease-in-out;
    margin-right: -3rem;
    padding: 1rem 1rem;
    border-radius: 10rem;
    width: 90%;
    text-align: center;

    &:focus {
      width: 100%;
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: #737783;
      font-weight: 100;
    }
  }

  &__input:focus + &__button {
    background-color: #1c223a;
  }
  &__button {
    border: none;
    font-size: 1.6rem;
    background-color: #1c223a;

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    color: #737783;
    cursor: pointer;
  }
}
